<header
	id='header'>
	{# <img src="./images/logo1.png"/> #}
	{% if url == 'personal_page/:id' %}
		<div class="wrapper">
			<div id="search-container">
				<input type="input" id="search-input" placeholder="Rechercher.."/>
			</div>
		</div>
		<!-- Script -->
		<script src="js/test.js"></script>
	{% endif %}
</header>
