{% extends "./../main.html.twig" %}


{% block main %}
<h1 class='Display-3'>Mes tickets</h1>

<div class="d-flex justify-content-around mb-3">
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
</div>

<div class="d-flex justify-content-around mb-3">
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
</div>
<div class="d-flex justify-content-around mb-3">
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
<div id="picture col-2">
		<img class='marque' src='/images/H&M-Logo.svg'></br>
	<p>H&M</p>
</div>
</div>
{% endblock %}
