{% extends "./../main.html.twig" %}


{% block main %}
    <h1 class='Display-1'>Mon compte</h1>
	<div class="container mb-3 mt-3">
		<div class="row mb-3">
			<p class='h4 font-weight-light'><a href="/update">Modifier ses informations</a></p>
			<p class='h4 font-weight-light'><a href="/contact">Contactez-nous</a></p>
			<p class='h4 font-weight-light'><a href="/logout">Deconnexion</a></p>
		</div>
	</div>

{% endblock %}
